body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  color: #000;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #000 !important;
  margin-right: 4rem;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #000 ;
}

.list-group-item {
  border-color: #fff;
  background-color: #000;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25)
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

.red {
  color: red !important;
 background-color: white;
}

.yellow  {
   color:yellow!important;
  background-color:white ;

}
.pink {
   color:pink !important;
  background-color:white ;
}
.green{
   color:green !important;
  background-color:white ;
  }
 .blue{
   color:blue !important;
  background-color:white;

}
.table {
	display:table;
  width: 200px;
}
.table-row{
  display: table-row;
}
.table-cell {
 text-align:center;
}